{% extends 'base.html' %}
{% block conteudo %}
   <ol>
        {% for x in registro %}
            {% for chave, nota in x.items() %}
                <details>
                    <summary>{{chave}}</summary>
                    <p>{{nota}}</p>
                </details>
            {% endfor %}
        {% endfor %}
    </ol>
    <form method="POST" action="/nota">
        <label for="aluno">Nome</label>
        <input name="aluno" type="text">

        <label for="nota">Nota</label>
        <input type="number" name="nota">

        <button>Adicionar</button>
    </form>
{% endblock conteudo %}