{% extends 'base.html' %}
{% block conteudo %}
    <h3 style="text-align: center;">Caderneta do Professor</h3>
    <hr>
    <form method="POST" action="/nota">
        <div class="mb-3">
            <label class="form-label" for="aluno">Nome</label>
            <input class="form-control" name="aluno" type="text">
        </div>

        <div class="mb-3">
    
            <label class="form-label" for="nota">Nota</label>
            <input class="form-control" type="number" name="nota">
        </div>

        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>

    <div style="margin-top: 10px;">
        {% for dados in registro %}
            {% for nome, nota in dados.items()  %}
            <div style="margin-top: 10px;">
                <p>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample_{{nome}}" role="button" aria-expanded="false" aria-controls="collapseExample{{nome}}">
                    {{nome}}
                    </a>
                </p>
                <div class="collapse" id="collapseExample_{{nome}}">
                    <div class="card card-body">
                    {{nota}}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
      
{% endblock conteudo %}