<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integração HTML</title>
</head>
<body>
    <h3>Lista de frutas</h3>
    <ul>
        {% for x in lista %}
            <li>{{x}}</li>
        {% endfor %}
    </ul>
    
    <form action="/" method="POST">
        <label for="fruta">Fruta</label>
        <input type="text" name="fruta" id="fruta">
        <button>Adicionar</button>
    </form>
</body>
</html>